<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 科大讯飞语音SDK所需权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidtools"
        tools:targetApi="31">
        <activity
            android:name=".a11y.GestureConfigActivity"
            android:label="@string/title_activity_gesture_config"
            android:exported="false" />
        <activity
            android:name=".a11y.VoiceCommandConfigActivity"
            android:label="@string/title_activity_voice_command_config"
            android:exported="false" />
        <activity
            android:name=".a11y.VolumeKeyConfigActivity"
            android:label="@string/title_activity_volume_key_config"
            android:exported="false" />
        <activity
            android:name=".a11y.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" /> <!-- <service android:name=".SocketServerService" android:enabled="true"/> -->
        <activity
            android:name=".ChartPreviewActivity"
            android:exported="false"
            android:label="@string/open_chart_preview" />
        <activity
            android:name=".TestYOLOv11Activity"
            android:exported="false"
            android:label="YOLOv11 测试" />
        <!-- &lt;!&ndash; 注册广播接收器 &ndash;&gt; -->
        <!-- <receiver -->
        <!-- android:name=".ActionReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="FIND_ALL_FOCUS_INFO" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- &lt;!&ndash; 注册广播接收器 &ndash;&gt; -->
        <!-- <receiver -->
        <!-- android:name=".ActionResultReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="ACTION_RESULT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <service -->
        <!-- android:name=".MyAccessibilityService" -->
        <!-- android:label="My Accessibility Service" -->
        <!-- android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.accessibilityservice.AccessibilityService" /> -->
        <!-- </intent-filter> -->
        <!-- <meta-data -->
        <!-- android:name="android.accessibilityservice" -->
        <!-- android:resource="@xml/accessibility_service_config" /> -->
        <!-- </service> -->
        <service
            android:name=".service.ChartA11yService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>